Button {
	color: white;
	background: rgb(82, 105, 95);
	border-radius: 5px;
	border-color: #FFFFFF #FFFFFF #FFFFFF;
	border-width: 2px 2px;
	padding: .5em 2em;
	cursor: pointer;
}

Button:hover { background: rgb(53, 167, 110); }


i#first {
	position: absolute;
	top: 280px;
	left: 135px;
}

i#second {
	position: absolute;
	top: 340px;
	left: 135px;
}


h4 {
   width: 100%; 
   text-align: center; 
   border-bottom: 5px solid teal; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h4 span { 
    background:#fff; 
    padding:0 7px; 
}

