<div class="card" style="width:100%">
    <div class="content">
        <div class="right floated mini ui ">
        </div>
        <center>
            <h1>Добро пожаловать <span>
                {% if UserInfoDict["UserNameUpperStr"] %}
                {{UserInfoDict["UserNameUpperStr"]}}
                {% endif %}
            </span>!</h1>
            
        </center>
		
        <div class="ui divider"></div>
        
        <div class="description cp-hello-description">
            <div>
                <h5>Предлагаем ознакомиться с демонстрационным стэндом оркестратора pyOpenRPA.</h5>
                pyOpenRPA – это прогрессивная RPA платформа, которая позволяет сочетать в рамках одного проекта все перспективные технологии, такие как:
                <ul>
                    <li>OCR / NLP / NER: Распознавание изображений и текста</li>
                    <li>CV: Компьютерное зрение</li>
                    <li>AI: Искусственный интеллект</li>
                    <li>ML: Машинное обучение</li>
                    <li>BIGDATA: Большие данные</li>
                    <li>VOICE & CHAT: Голосовые и чат-боты</li>
                </ul>
                Роботов pyOpenRPA невозможно отключить принудительно - управлять ими будете только вы!
                <br><br>
                Здесь представлены примеры роботов для таких специалистов как: 
                <ul>
                    <li>Экономистов</li>
                    <li>Финансистов</li>
                    <li>Продавцов</li>
                    <li>Закупщиков</li>
                    <li>Маркетологов</li>
                    <li>Кадровиков</li>
                    <li>Рекрутёров</li>
                    <li>Казначеев</li>
                    <li>Юристов</li>
                    <li>Бухгалтеров</li>
                    <li>Операционистов</li>
                    <li>Безопасников</li>
                    <li>ИТ специалистов</li>
                </ul>

                <h5>pyOpenRPA - роботы помогут!</h5>
                

            </div>
		</div>
        <br>
        <center>
            <button class="ui primary basic button cp-hello-button-1">Свернуть</button>
            
        </center>
        
	</div>	
</div>
<script type="text/javascript">
    $(document).ready(function() {
        cp_hello_expand=function() {
            $("button.cp-hello-button-1")[0].innerHTML="СВЕРНУТЬ ПРИВЕТСТВИЕ"
            $("button.cp-hello-button-1")[0].setAttribute("onclick","cp_hello_collapse();")
            $("div.cp-hello-description")[0].style["display"]=""


        }
        cp_hello_collapse=function() {
            $("button.cp-hello-button-1")[0].innerHTML="РАЗВЕРНУТЬ ПРИВЕТСТВИЕ"
            $("button.cp-hello-button-1")[0].setAttribute("onclick","cp_hello_expand();")
            $("div.cp-hello-description")[0].style["display"]="none"
            
        }
        cp_hello_expand();
    });

    
</script>