<div class="card" style=""">
    <div class="content">
        <div class="right floated mini ui ">
            {{settings.g_cp_name_str}}
        </div>
        <div class="header">
          ИТ - JUPYTER
            
        </div>
		<div class="ui divider"></div>
        <div class="meta">
            <div>Рабочая область PYTHON JUPYTER. <br> Сотрудник: {{UserInfoDict["UserNameUpperStr"]}}</div>
			<div class="ui divider"></div>
			<div class="description">
				<button class="massive ui button" >
				  Открыть в новой вкладке
				</button>		

			</div>
		</div>
		<div class="extra content">

		</div>
	</div>	
</div>
<script type="text/javascript">
    $(document).ready(function() {


    });

    
</script>