<div class="card" style="width: 450px;"">
    <div class="content">
        <div class="right floated mini ui ">
            OPER_00
        </div>
        <div class="header">
            ОПЕРАЦИОНИСТ
            
        </div>
        <div class="meta">
            <div>Робот бухгалтер.</div>
            Сотрудник: {{UserInfoDict["UserNameUpperStr"]}}
        </div>
        <div class="ui divider"></div>
        <div class="description">
            
            <span style="font-weight: bold;">Статус за 05.04.2022:</span>
            <div class="ui vertical fluid steps">
              <div class="completed step">
                <i class="arrow circle right card icon"></i>
                <div class="content">
                  <div class="title">Шаг 1: Выгрузка</div>
                  <div class="description">Ежедневно в 08:22 (STARTED)</div>
                </div>

              </div>
              <div class="active step">
                <i class="arrow circle right card icon"></i>
                <div class="content">
                  <div class="title">Шаг 2: Опрос</div>
                  <div class="description">Производить до 12:00</div>               
                </div>
                
              </div>
              <div class="step">
                <i class="hourglass half card icon"></i>
                <div class="content">
                  
                  <div class="title">Шаг 3: Отчет</div>
                  <div class="description">Отправка вручную в период с 12:00 до 12:30</div>
                  
                </div>
              </div>
            </div>
            
            <div class="ui divider"></div>

            <div class="ui placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">
    $('.ui.accordion.per').accordion();
    per_log_download = function () {
      var l_now = new Date();
      l_month_str = String(l_now.getMonth()+1)
      if (l_month_str.length == 1){ l_month_str = "0"+l_month_str }
      l_day_str = String(l_now.getDate())
      if (l_day_str.length == 1){ l_day_str = "0"+l_day_str }
      l_log_date_str = String(l_now.getFullYear())+"_"+l_month_str+"_"+l_day_str

      l_log_date_str = window.prompt("Укажите дату лог файла для скачивания (формат: гггг_мм_дд)", l_log_date_str);
      if (l_log_date_str != null) {
        l_url_str = "/logs/"+l_log_date_str+".log"
        window.open(l_url_str, '_blank');
      }

    }


</script>